---
import { getCollection } from "astro:content"

import Layout from '../../layouts/layout.astro';


import Footer from '~/layouts/footer.astro';

import HorizontalList from "~/components/horizontal-list.astro"
import Card from "~/components/card.astro"

const notesCollection = await getCollection("notes")
---

<Layout title="khayaOS &#8226; Bio" active="notes">
	<div class="flex-1">
		<HorizontalList>
			{
				notesCollection.map((notes, idx) => 
					<Card 
						idx={idx} 
						cover={notes.data.cover} 
						title={notes.data.title} 
						subtitle={notes.data.publishedAt.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' })})} 
                        href={`/notes/${notes.slug}`}
						render={notes.render}
					/>
				)
			}
		</HorizontalList>
	</div>
	<Footer />
</Layout>