---
    import { Image } from "@unpic/astro"

    const { src, srcBlur, height, width, className } = Astro.props
---

<div class="relative inline-block overflow-hidden" style={`height: ${height}px; width: ${width}px;`}>
    <img 
        src={srcBlur}
        class:list={["absolute top-0 left-0 h-full", className]}
        height={height}
        width={width} />
    <Image 
        src={src}
        class:list={[className, "transition-opacity duration-200 opacity-0 absolute top-0 left-0"]}
        onload="this.classList.remove('opacity-0')"
        height={height}
        width={width}
    />
</div>