---
import { getCollection } from "astro:content"

import Layout from '~/layouts/layout.astro';
import Footer from '~/layouts/footer.astro';

import HorizontalList from "~/components/horizontal-list.astro"
import Card from "~/components/card.astro"

const bioCollection = await getCollection("bio")
---

<Layout title="khayaOS &#8226; Bio" active="careers">
	<div class="flex-1">
		<HorizontalList>
			{
				bioCollection.map((bio, idx) => 
					<Card 
						idx={idx} 
						cover={bio.data.cover} 
						title={bio.data.title} 
						subtitle={bio.data.subtitle} 
						href={bio.data.externalLink}
						isExternalLink
						render={bio.render}
					/>
				)
			}
		</HorizontalList>
	</div>
	<Footer />
</Layout>